
.bpButton {
  display: flex;
  justify-content: space-between;
}

.bpIconButton {
}

.bpPanelStackHeaderOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  box-shadow: none;
  pointer-events: none;
  border: none;
}

.bpPanelStackHeaderOverlay * {
  pointer-events: auto;
}

.hidden{
  display: none;
}


// see iconMapping.ts
// https://stackoverflow.com/a/19563399/2229899
// https://stackoverflow.com/a/72792696/2229899
.bpIconWrapperMonoFilter{
  filter: sepia(1) hue-rotate(calc(215deg - 50deg)) saturate(0.5) brightness(0.5);
  .bp5-dark & {
    filter: sepia(1) hue-rotate(calc(215deg - 50deg)) saturate(0.5) brightness(0.8);
    :hover{
      filter: sepia(1) hue-rotate(calc(215deg - 50deg)) saturate(0.5) brightness(1.1);
    }
  }
}
