
.bpButton {
  display: flex;
  justify-content: space-between;
}

.bpIconButton {
}

.bpPanelStackHeaderOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  box-shadow: none;
  pointer-events: none;
  border: none;
}

.bpPanelStackHeaderOverlay * {
  pointer-events: auto;
}

.hidden{
  display: none;
}
