@import "~@blueprintjs/core/lib/scss/variables.scss";

// todo: style for bp5-disabled

.folder-children {
  gap: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: flex-start;

  > div {
    display: contents;
  }
}

.folder-card {
  user-select: none;
  width: 100%;
  //padding-top: $pt-grid-size !important;
  //padding-bottom: $pt-grid-size !important;
  padding: 0 !important;
  //border-top: 1px solid #444 !important;
  //border-bottom: 1px solid #444 !important;
  display: flex;
  flex-direction: column;
  background-color: $light-gray4 !important;
}
.bp5-dark .folder-card {
  background-color: $dark-gray3 !important;
}


//.folder-head-label{
//  margin-bottom: 0;
//  user-select: none;
//  //line-height: $pt-input-height !important;
//  padding: $pt-grid-size !important;
//  width: auto;
//  cursor: pointer;
//}


.folder-trigger-button {
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.1s ease-in-out;
  background-color: $light-gray5 !important;

  &:hover {
    background-color: $light-gray3 !important;
  }

  &:active {
    background-color: $gray4 !important;
  }
}
.bp5-dark .folder-trigger-button {
  background-color: $dark-gray1 !important;

  &:hover {
      background-color: $dark-gray3 !important;
  }

  &:active {
      background-color: $dark-gray5 !important;
  }
}

//.folder-trigger-button:focus{
//  outline: none !important;
//}


.folder-head-card-minimal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;

  > .folder-trigger-button {
    margin-right: $pt-grid-size;
  }
}

.folder-head-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 1px $pt-divider-black;
  z-index: 1;

  > button {
    border-radius: 0;
  }

  .bp5-dark & {
    box-shadow: 0 1px $pt-dark-divider-white;
    //background-color: $dark-gray1;
  }
}

