@import "~normalize.css/normalize";

//@import "~@blueprintjs/core/lib/scss/variables.scss";

//@import "~@blueprintjs/core/lib/css/blueprint";
@import "~@blueprintjs/select/lib/css/blueprint-select";
@import "~@blueprintjs/icons/lib/css/blueprint-icons";

@import "~blueprint-styler/base/blueprint-tokens";
@import "~blueprint-styler/base/blueprint";
//@import "~blueprint-styler/base/tokens.scss"; // dont add

@import "components/common";
@import "bpComponents/index";

//@import "~@blueprintjs/core/src/blueprint";
//@import "~@blueprintjs/select/src/blueprint-select.scss";
//@import "~@blueprintjs/icons/src/blueprint-icons.scss";

//@import "~blueprint-styler/overrides/bpv3/custom-tokens";
//@import "~blueprint-styler/overrides/bpv3/override";
//@import "~blueprint-styler/overrides/bpv3/override-tokens";

//@import "~blueprint-styler/overrides/antd/custom-tokens";
//@import "~blueprint-styler/overrides/antd/override";
//@import "~blueprint-styler/overrides/antd/override-tokens";

//@import "~blueprint-styler/overrides/carbon/custom-tokens";
@import "~blueprint-styler/overrides/carbon/override";
@import "~blueprint-styler/overrides/carbon/override-tokens";

//@import "~blueprint-styler/overrides/flat/custom-tokens";
//@import "~blueprint-styler/overrides/flat/override";
//@import "~blueprint-styler/overrides/flat/override-tokens";

//@import "~blueprint-styler/overrides/fluent/custom-tokens";
//@import "~blueprint-styler/overrides/fluent/override";
//@import "~blueprint-styler/overrides/fluent/override-tokens";

//@import "~blueprint-styler/overrides/pnnl/custom-tokens";
//@import "~blueprint-styler/overrides/pnnl/override";
//@import "~blueprint-styler/overrides/pnnl/override-tokens";


.bp5-form-group.bp5-inline label.bp5-label{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(min(50%, 12*$pt-font-size-small));
  width: 50%;
  font-size: $pt-font-size-small;
}
.switch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 0;
  height: $pt-input-height;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: $pt-font-size-small;
}

.formGroupContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: calc($pt-grid-size / 2);
  height: $pt-input-height;
  flex-grow: 1;
}

.bp5-panel-stack-view {
  .bp5-dark & {
    background-color: $dark-gray2 !important;

  }
}

#bpInspectorCard {
  height: 100%;
  overflow-y: scroll;
  padding: 0 0 0 0;
}
#blueprintUiContainer {
  height: 100%;
  overflow-y: scroll;
  padding: 0 0 0 0;

  position: fixed;
  top: 0;
  right: 10px;
  width: var(--blueprint-ui-container-width);
  pointer-events: auto;
  max-height: calc(100% - 6rem);
  border-radius: 0.5rem;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.numericInput {
  .bp5-input-group {
    flex-shrink: 1;
  }
}

.xPaddedContent {
  padding-left: $pt-grid-size;
  padding-right: $pt-grid-size;
}

.folderContent {
  flex: 1 1 auto;
  max-width: 100%;
}
//button {
//  -webkit-tap-highlight-color: rgba(0,0,0,0);
//}
//input:focus {
//  outline: 0;
//  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
//}
.editorSplitContainer {
  display: flex;
  height: calc(100% - $pt-navbar-height);

  .gutter {
    background: $dark-gray1;
    flex-shrink: 0;
  }

  .gutter:hover {
    background: $dark-gray4;
  }

  .gutter-horizontal {
    cursor: ew-resize;
  }

  .gutter-vertical {
    cursor: ns-resize;
  }
}
.bp5-control-group {
  .bp5-input-group{
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.color-picker-popover{
  padding: calc($pt-grid-size / 2);
  width: max-content;
  background: $dark-gray1;
}

.inputGroupFile{
  input[type='file'] {
    width: 100%;
    min-width: $pt-grid-size * 15;
  }
}

.inspectorPanelStack {
  height: 100%;
}

.bp5-slider:not(.bp5-slider-vertical) {
  min-width: $pt-grid-size * 11;
}

.bp5-input, .bp5-file-upload-input {
  .bp5-dark & {
    box-shadow: inset 0 0 0 1px $dark-gray5, inset 0 -1px 1px 0 $dark-gray1;;
  }
}
